.citycard{
    background-color: rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 20px;
    padding:30px;
    border-radius: 50px;
    font-size:20px;
    width:195px;
}
.city_name{
    font-size: 22px;
    font-weight: 600;
}
.citycard > img {
    height:100px;
}

.citycard_temp{
    font-size: 24px;
}

.citycard_text{
    margin:10px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
}
